language: java

sudo: required

services:
  - docker

install: mvn dependency:resolve

script:
- mvn -B clean
- if [ "$TRAVIS_BRANCH" = "master" -o "$TRAVIS_TAG" != "" ]; then mvn -B test package; else mvn -B test; fi
- if [ "$TRAVIS_BRANCH" = "master" ]; then curl --ftp-create-dirs -T $(ls target/* | grep .jar | egrep -v -e 'original|shaded') -u $USERNAME:$PASSWORD -k sftp://home140044919.1and1-data.host; fi

before_deploy: rm target/original*
deploy:
  provider: releases
  api_key: ${API_KEY}
  file_glob: true
  file: target/test-tools-*.jar
  skip_cleanup: true
  on:
    tags: true

notifications:
  slack:
    secure: cL0CXPEMsNy/m6Z6aAPuFVS75qf96EDAgqXuqu1gbJ/mopXTwveab7kYEdJeJaPWIDbcIqsL/kWcQkGpijNlsthVWxCH8fOdbSWj7nvfvuAlE2i/f0CsgW/8lwLeYr17HNpQ9dQRUVGe6nTiTBEP1yHRDZ9UOd7OapcC+s+wyoFES3tFBC5ULPQiNa4LoPDd9g84RRYLgz+SkAKFhuUoLq/Q1lX/YLiU32bzorhXQzAOaAtLbaE9mhK3eVqibHWoi+rCDwg4SGAsDiJIEl7YR59D2UOoMsHFTzF6fYw4aGv8Ygk7w3sVJGGBNcMpNgQnLqrxJWUcE3tIjv/VdbqpQXKqOscGCJiWYWtU3kbJLjQaHq5NY2vWnqUBno/nZ76qw+V/w/4oVf8fIz7sRhZTWbmwgUT1ZO6bgBwFHq//FSSvVEDPhqTjzFaGHqWVuDWGKhtsp/cZClMA7g8mlAWlzFWzk9uCkLJW1LJX4YvmsDtxLbjeEdqWCgv9bSwXT25moe4aIZOHFp+45Ec34vy8fLx8tfbSXwDzwP5vBQciSyFWSTaedDwm4g/CEVICXuCnefR6MqRrEt9WJjtIubK5mbHjuH+oOuRKqfTVm59zSE+/1z5VHZpwbRyrn69SHPMkfhcLzJdUN7JXlCGcOeDXD7IFrE0+zTWS23I4ZDn7jBk=

